html, body {
  font-size: 16px;
  font-family: Lato, sans-serif;
  color: #424551;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
  border: 3px solid red;
}

.button {
  letter-spacing: 0.5px;
  line-height: 52px;
  font-weight: 700;
  padding: 0 40px;
  color: #fff;
  border-radius: 4px;
  background: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
}

.logo {}

/*______________________________________________________________________________________*/


.header {
  font-weight: 700;
}

.header__top {}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  margin-right: 60px;
}

.header__nav {
  margin-right: auto;
}

.header__nav-list {
  display: flex;
  justify-content: space-between;
}

.header__nav-item {
  margin-right: 40px;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav_link {
  font-weight: 700;
  line-height: 1.6;
}

.header-btn-box {
  display: flex;
}

.header__top-btn {}

.header__user {}

.header__user-btn {}

.header__body {}